.auth-container {
  background: #2c2c2c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .logo {
    color: #FFFFFF;
    font-family: Oswald-Medium, sans-serif;
    span:first-child {
      font-size: 23px;
    }
    span:last-child {
      font-size: 16px;
    }
    padding: 20px;
  }
  .action {
    position: relative;
    background: #FFFFFF;
    padding: 10px;
    width: 75vw;
    .form-row {
      padding: 5px;
    }
    .message {
      .success-message {
        color: #42b03d;
        font-family: Roboto-Medium, sans-serif;
      }
      .error-message {
        color: #b03d6f;
        font-family: Roboto-Medium, sans-serif;
      }
    }
  }
}
