<div class="filter-main-container">

  <form [formGroup]="searchForm">

    <div class="form-row">
      <mat-form-field >
        <mat-label>Search Text</mat-label>
        <input matInput placeholder="Search Text" formControlName="c">
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input formControlName="sd" matStartDate placeholder="Start date">
          <input formControlName="ed" matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field>
        <mat-label>Transaction Type</mat-label>
        <mat-select formControlName="t">
          <mat-option [value]="0">Only Debit</mat-option>
          <mat-option [value]="1">Only Credit</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mat-raised-button color="primary" (click)="filterAction()" >Filter</button>
    </div>
  </form>
</div>
