.filter-main-container {

  form {
    width: 80%;
    padding: 10px;
    background: #FFFFFF;
    margin: 0 auto;
    .form-row {
      margin: 10px 0;
      text-align: center;
      mat-form-field {
        width: 100%;
      }
    }
  }
}
