<div class="header">
  <div class="logo"><a [routerLink]="['/']"> <span>Bins</span><span>Tracker</span></a></div>
<!--  <div class="action">-->
<!--    <mat-icon [routerLink]="['/notifications']" >notifications_active</mat-icon>-->
<!--    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>-->
<!--    <mat-menu #menu="matMenu" class="header-menu" >-->
<!--      <div class="sub-menu-content"><a [routerLink]="['/transactions']">Transactions</a></div>-->
<!--      <div class="sub-menu-content"><a (click)="syncData()">Sync</a></div>-->
<!--&lt;!&ndash;      <div class="sub-menu-content"><a [routerLink]="['/archived']">Archive</a></div>&ndash;&gt;-->
<!--    </mat-menu>-->
<!--  </div>-->
</div>
