<div class="landing-container">
  <div class="landing-content">
    <div class="header-title">
      Manage your finances the easy way
    </div>
    <div class="logo-content">
      <div class="logo">
        <span>Bins</span><span>Tracker</span>
      </div>
      <div class="action">
        <a [routerLink]="['/auth']" mat-raised-button color="primary">Get Started</a>
      </div>
    </div>
<!--    <div class="logo">-->
<!--&lt;!&ndash;      <img src="/assets/logo.png"/>&ndash;&gt;-->
<!--      <div class="action">-->
<!--        <a [routerLink]="['/auth']" mat-raised-button color="primary">Get Started</a>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
