<div class="form-content">
  <div>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  </div>
  <div>
    <mat-checkbox [checked]="isRepeat" [(ngModel)]="isRepeat"></mat-checkbox> Want to repeat?
  </div>
  <div *ngIf="isRepeat">
    <mat-form-field>
      <mat-label>Day</mat-label>
      <input matInput [(ngModel)]="repeatDate" type="number" min="0" max="31">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="saveCategory()">Save</button>
  </div>
</div>
