.category-main-container {
  //background: #FFF;
  padding: 10px;
  .category-action {
    display: flex;
    justify-content: space-between;
    h2 {
      color: #FFFFFF;
      font-family: Oswald-Medium, sans-serif;
    }
  }

}
