/* You can add global styles to this file, and also import other style files */
//@font-face {
//  font-family: "Roboto-Black";
//  src: url("/assets/fonts/Roboto/Roboto-Black.ttf");
//}
//@font-face {
//  font-family: "Roboto-Regular";
//  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
//}
@font-face {
  font-family: "Roboto-Medium";
  src: url("Roboto-Medium.ttf");
}

@font-face {
  font-family: "Oswald-Medium";
  src: url("Oswald-Medium.ttf");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background: #49228d;}

.header {
  display: flex;
  justify-content: space-between;
  background: #e7e0f4;
  .logo {
    font-size: 15px;
    padding: 15px;
    font-family: Oswald-Medium, sans-serif;
    color: #000;
    a {
      color: #4814a5;
      text-decoration: none;
    }
    span {
      font-size: 20px;
    }
  }
  .action {
    padding: 10px;

  }
}
.header-menu {
  .sub-menu-content {
    padding: 5px 10px;
    a {
      text-decoration: none;
      font-family: Roboto-Medium, sans-serif;
      color: #49228d;
    }
  }
}
.mat-form-field-infix {
  display: flex !important;
}

.spinner {
  position: absolute;
  z-index: 999;
  background: rgba(0,0,0,0.5);
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  mat-icon {
    animation: spinner 1.5s linear infinite;
  }
}
.speech-icon {
  background-image: url("wave.gif");
  background-size: contain;
  height: 50px;
  width: 50px;
}
.trans-list {
  .trans-item {
    .trans-item-left {
      span {
        font-size: 12px;
        padding: 5px;
        border-radius: 15px;
        &.credit {
          background: #287a55;
        }

        &.debit {
          background: #d24b4b;
        }
      }
    }
  }
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.main-container {
  .head-content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    h2 {
      color: #FFFFFF;
      font-family: Oswald-Medium, sans-serif;
      padding: 0px;
    }
  }
}
