
.trans-container {
  h2 {
    color: #FFFFFF;
    font-family: Oswald-Medium, sans-serif;
    padding: 10px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card-item {
      width: 40%;
      background: #6d46b2;
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #7f6f9b;
      display: flex;
      flex-direction: column;
      position: relative;
      .card-title {
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 500;
        margin: 20px 0;
        text-align: center;
        //min-height: 70px;

      }
      .trans-status {
        text-align: center;
        font-size: 10px;
        font-weight: 500;
        position: absolute;
        transform: rotate(-39deg);
        top: 0px;
        left: -16px;
        padding: 3px 10px;
        border-radius: 10px;
        &.PENDING {
          background: #d24b4b;
          color: #f6e0e0;
        }
      }
      .card-item-action {
        //position: absolute;
        width: 95%;
        //bottom: 0;
        //left: 0;
        text-align: center;
        padding: 5px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        button {
          padding: 7px;
          border: none;
          margin: 5px 0;
          border-radius: 5px;
          font-size: 12px;
          font-weight: bold;
          background: #49228d;
          color: #f6e0e0;
          &.repay {
            width: 100%;
          }
          &.edit, &.remove {
            width: 45%;
          }
        }
      }
    }
  }
}
